#links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    flex: auto;
    text-align: center;
    background-color: #2F333D;
    display: none !important;
}

.show {
    display: block !important;
}

/******************************/

/* Style the buttons */
.btn {
    margin: 5px;
}

.tag,
.app {
    border: none;
    outline: none;
    /* margin: 2px;
    padding: 5px; */
    font-style: italic;
    background: none;
    cursor: pointer;
    color: #70737C;
}

.external::before {
    float: right;
    font-size: x-small;
    content: '\0029C9';
}

.app {
    color: #666c98
}
