/**** Filter buttons ****/

#filterButtons {
    text-align: center;
}

/* Style the buttons */
.filter-button {
    font-size: medium;
    margin: 5px;
    font-weight: normal !important;
    padding: 6px 15px !important;
}

/**** Link panels ****/

.external::before {
    float: right;
    font-size: x-small;
    content: '\0029C9';
}

#links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    flex: auto;
    text-align: center;
    background-color: #2F333D;
    display: none !important;
}

.show {
    display: block !important;
}

/**** Inline tags ****/

.featureTag,
.appTag {
    border: none;
    outline: none;
    margin: 2px;
    padding: 5px;
    font-style: italic;
    background: none;
    cursor: pointer;
    color: #70737C;
}

.appTag {
    color: #666c98
}
